*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    scroll-behavior: smooth;
}
.capitalize{
    text-transform: capitalize;
}
@font-face {
    font-family: myFlare;
    src: url("Flare-Regular.woff");
}
@font-face {
    font-family: myKusangi;
    src: url('Kusanagi.otf');
}
@font-face {
    font-family: myZeroHour;
    src: url('ZeroHour.otf');
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
/* //animations */
/* from onmet old */
.story-indicator {
    position: relative;
    padding-left: 10px;
}

.story-indicator::after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 1px;
    background: #00cc99;
    animation: indicator 4.3s linear infinite;
}
@keyframes indicator {
    0% {
        width: 0%;
        left: 0px;
    }
    8.5% {
        width: 50%;
    }
    17% {
        width: 100%;
        left: 1px;
    }
    25% {
        width: 50%;
        left: calc(50% - 1px);
    }
    34%,100% {
        width: 00%;
        left: calc(100% - 1px);
    }
}
/* ////my scroller */
.my-scroller::-webkit-scrollbar {
    width: 0px;
    padding-right: 3px;
    margin-right: 3px;
}

.my-scroller::-webkit-scrollbar-track {
    background: #111;
    border-radius: 50px;
}

.my-scroller::-webkit-scrollbar-thumb {
    background: rgb(0, 68, 255);
    border-radius: 50px;
    box-shadow: 3px 3px 30px rgba(90, 133, 250, 0.0.77);
}
#fixer{
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 6.4fr;
    grid-template-rows: 2fr 7fr 1fr;
}
#inSidebar{
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 1px;
    /* margin: 3.1% 2%; */
    position: relative;
}
#blurLayout{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* background: rgba(0,0,0,0.8); */
    /* backdrop-filter: blur(100px); */
  border-radius: 6px;
}
.link.item.div,.myBtnDEF{
    height: clamp(20px,auto,200px);
    padding: 8px;
    width: clamp(100px,92%,300px);
    margin: 3px auto;
    background: linear-gradient(#202020 30%,#101010);
    border-radius: 9px;
    color: rgb(90, 133, 252);
    text-shadow: 2px 3px 30px rgb(90, 133, 252);
    font-family: myFlare;
    line-height: 1;
    font-weight: 600 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: all 0.14s ease-in-out;
}
.link.item.div img {
    transform: scale(0.68);
}
.link.item.div:hover,.myBtnDEF:hover{
    transform: scale(1.02);
    background: linear-gradient(#202020 8%,#101010);
}
.link.item.div::before{
    content: '';
    height: 40%;
    width: 1px;
    border-radius:3px;
    background: rgb(90, 133, 252);
    box-shadow: 2px 3px 30px 0px rgba(90,133,252,0.96),-2px -3px 20px 0px rgba(90,133,252,0.96);
    position: absolute;
    top: 30%;left: 12px;
    transition: all 0.14s ease-in-out;
}
.link.item.div.active:hover:before,
.link.item.div.active::before{
    height: 78%;
    width: 5px;
    top: 10%;left: 10px;
}
.link.item.div:hover:before{
    height: 70%;
    width: 3px;
    top: 15%;left: 11px;
}
.conted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

}
#content{
    background: #090909;
    overflow-y: auto;
    overflow-x: hidden;
}
section#mainBG{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
section#mainBG>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
div.firstTextBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: clamp(100px, 40vh,600px);
    transform: translate(-50%,-50%);
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 20px #ccc;
    display: flex;
    background: rgba(0,0,0,0.41);
    align-items: center;
    justify-content: center;
    padding: 10px 4xp;
}
.left{
    display: block;
}
.left h2{
    font-size: 3.4em;
    font-weight: 100;
    font-family: myFlare;
}
.left h1{
    font-size: 2.54rem;
    font-weight: 900;    
    font-family: myKusangi;
    background: linear-gradient(rgba(20,20,20,0.6),rgba(30,30,30,0.9));
    margin-top: 2px;
    margin-bottom: 2px;
    padding: auto;
    
}
.right {
    font-family: myZeroHour;
    /* font-family: myFlare; */
    /* font-family: myKusangi; */
    font-size: 1.3em;
}

/* #second part */
#second {
    background: #090909;
    height: auto;
    padding-top: 15vh;
    margin-bottom: 20vh;
}

/* //EDM */
#edm{
    display: flex;
    min-height: 80vh;
}
#edm .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: top;
    margin: 10px auto;
    padding-bottom: 3rem;
  }
  
  .neon {
    font-family: myZeroHour;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .flux {
    font-family: myZeroHour;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  
/* #second .container {
    /* margin-top:40vh; * /
} */
.title.gold{
    color: gold;
    text-shadow: 2px 2px 30px gold;
}
.title{ 
    font-size: 3.9em;
    font-weight: 560;
    padding: 30px;
    font-family: myZeroHour;
}
p.text{
    font-size: 24px;
    color: rgba(240,240,240,0.8);
    text-align: justify;
    padding: 2px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* gallery part */
#gallery{
    position: relative;
    background: #090909;
    min-height: 80vh;
}
.green.title{
    color: #00cc99;
    text-shadow: 2px 2px 20px #00cc99;
}
#galleryBinder{
    position: relative;
    width: 80%;
    height: auto;
    backdrop-filter: blur(100px);
    display: block;
    margin: 10px auto;
}
#shed{
    min-height: 80vh;
}
#about{
    min-height: 80vh;
}
@media (min-width: 768px) {
    /* //laptop, tablet */
    .l-hide {
        display: none !important;
    }
    /* /sidebar  */
    #sidebar.first {
        grid-area: 1/1/2/2;
        overflow: hidden;
    }
    #sidebar {
        grid-area: 1/1/4/2;
    }
    #blurLayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
    }
    .first .logo {
        margin-bottom: 200px;
        transition: all 0.1s ease-in-out;
    }
    .logo{
        max-width: 100%;
        grid-area: 1/1/2/2;
    }
    .logo figure {
        height: 100%;
        width: 100%;
        display: flex;
    }
    .logo figure img {
    height: 100%; 
    object-fit: contain;
    margin: auto;
    }
    .link.con{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    /* //main content */
    .first + main#content{
        grid-area: 1/1/4/3;
    }
    main#content{
        grid-area: 1/2/4/3;
        overflow-y: auto;
    }
    .left{
        position: relative;
    }
    .left::after{
        content: '';
        height: 100%;
        position: absolute;
        width: auto !important;
        top: 0 !important;
        left: 100%;
        background: url('logo.png');
    }
    .right{
        width: 40%;
        margin-left: 5%;
        position: relative;
    }
    .right::before{
        content: '';
        position: absolute;
        height: 190%;
        width: 5px;
        border-radius: 1px;
        background: #00cc99;
        top: -45%;
        left: -10px;
    }
    /* //gallery */
    
    #galleryChange{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }
    #galleryChange .myRows{
        display: flex;
        height: 20rem;
        gap: 1rem
    }
    #galleryChange .myRows > div.myCols{
        transition: all 0.4s cubic-bezier(0.25,0.4,0.45,1.4); 
    }
    #galleryChange .myRows > div.myCols img{
        flex: 1;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        transition: all 0.4s cubic-bezier(0.25,0.4,0.45,1.4); 
    }
    #galleryChange .myRows > div.myCols:hover{
        width: 100%;
    }
    #galleryChange .myRows > div.myCols:hover img{
        object-fit: contain;
    }
    #edm .container {
        transform:translateX(-10rem) ;
    }
}
@media (max-width: 768px) {
    /* //mobile */
     #sidebar {
        grid-area: 3/1/4/-1;
    }
    
    #justforview{
        display: block;
    }
    .logo{
        height:100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 15px;
    }
    #fixer{
        overflow: hidden;
        grid-gap: 6px;
    }
    .link.con{
        display: relative;
        width: 100vw;
        flex-direction: column;
        background: transparent;
        backdrop-filter: blur(50px);
        transition: all 0.2s ease-in-out;
    }
    .link.item.div{
        display: inline-block;
        width: 96%;
        margin: 6px 2%;
    }
    .conted{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }
    .conted img{
        transform: scale(0.35);
    }
    #switchCon{
        width: clamp(20px,20vw,60px) !important;
        height: clamp(20px, 80%, 60px) !important;
        display: flex;
        /* padding: 20px; */
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        background: #272626;
        /* width: 100%; */
    }
    #switchCon div{
        height: 4px !important;
        width: 70%;
        margin: 3px auto;
        background: #ccc;
        transition: all 0.2s ease-in-out;
        transition-delay: 0.09s;
    }
    #switchCon.on{
        position: relative;
        bottom: 10vh;
        left: -50%;
        transform: translateX(60%);
        background: #ccc;
        border-radius: 100%;
        box-shadow: 3px 3px 49px 1px #fcfcfc;
        z-index: 20;
    }
    #switchCon.on div{
        background: #101010;
        border-radius: 2px;
    }
    #switchCon.on div:first-child{
        transform: translateY(235%) rotate(45deg);
    }
    #switchCon.on div:nth-child(2){
        transform: translateX(300px);
    }
    #switchCon.on div:last-child{
        transform: rotate(135deg) translateX(-21%);
        height: 60%;
    }

    #linkCon.up{
        transform: translateY(-90vh);
        position: fixed;
        background: #000;
        box-shadow: 10px 10px 80px 197px #111;
        z-index: 10;
    }

    /* //main content */
    main#content{
        grid-area: 1/1/3/-1;
        overflow-y: auto;
        /* z-index: -1\;here we hade issue so solved it by js */
    }
    div.firstTextBox{
        height: 100%;
        width: 360px;
        max-width: 85vw;
        flex-direction: column;
    }
    div.firstTextBox>div{
        margin: 5px 10px!important;
    }
    #second{
        padding-top: 15vh;
        height: auto;
        padding-bottom: 10px;
        margin-bottom: 8vh;
    }
    .title {
        font-size: 32px;
    }
    .text{
        font-size: 15px;
        color: rgba(240,240,240,0.7)
    }
    /* //gallery */
    #galleryChange{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #galleryChange .myRows{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }
    #galleryChange .myRows > div.myCols{
        transition: all 0.4s cubic-bezier(0.25,0.4,0.45,1.4); 
        height: 4rem;
    }
    #galleryChange .myRows > div.myCols img{
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        transition: all 0.4s cubic-bezier(0.25,0.4,0.45,1.4); 
    }
    #galleryChange .myRows > div.myCols:hover{
        width: 100%;
        height: 33vh;
    }
    #galleryChange .myRows > div.myCols:hover img{
        object-fit: contain;
    }
}



.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 350px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#6cedcd,#00cc99);
}

.front:after{
	position: absolute;
    top: 65%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 35%;
    content: '';
    display: block;
    opacity: .6;
    background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.86));
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}
.front .inner{
    top: 82%;
}
.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00cc99;
  text-shadow: 2px 1px 25px rgba(255, 255, 255, 0.8);
  position: relative;
}
.back .inner span{
    color: gold;
    text-shadow: 1px 1px 28px black;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}